In [3]:
x = 4
y = 3
z = x + y
print(z)

7

In [4]:
i = 1
j = 4
print (i + j)

5

In [21]:
x=5
y=10
z=x*y
z=str(z)
z

'50'

In [23]:
a=2
b=6
c=a*b
c

12

In [26]:
radius=2
pi=3.14
area=pi*(radius**2)
area

12.56

In [32]:
p1="Hi I am"

p2="Louise"
cp=f"{p1} {p2}"
cp

'Hi I am Louise'

In [ ]:
cp[1::2]
#python starts at zero, the words for position in python is index

filename="ssda903_list1_csv"
fn=filename[:-4]

'iIa oie'

In [48]:
phrase_3="dog cat racoon"
d=phrase_3[:4]
c=phrase_3[4:7]
r=phrase_3[-6:]
print(d)
print(c)
print(r)

dog
cat
racoon

In [2]:
var_1 = 10 #integer
Var_2=10.10 #float - number wih decimals
var_3="10" #string

In [11]:
#Lists - allow us to store lists of variables, indexed can be searched sorted
#column names often lists

#Dictionary - store variables in one object names (keys): value
#filename<- keys, xlsx <-values
#variable cant start with a number

list_1=["hi", "Bye"] #,-empty

type(list_1)

list

In [10]:
#lists keep their order(unless you change them)
list_2=[10, 12, 9]

list_2

cols_1=["red", "blue", "green"]

cols_1

['red', 'blue', 'green']

In [ ]:
List_3=[2.2, 4, "red"]
List_3

List_3[:2]

#extends a list by indexcable elemnts of a string
#append the whole thing to one elemnt

[2.2, 4]

In [35]:
Foods_1=["egg", "bacon", "chips"]
print(Foods_1)
Foods_1.append("beans")
print(Foods_1)
Foods_2=["tomato", "lettuce", "onion"]
Foods_1.extend(Foods_2)
print(Foods_1)

Foods_1.remove("onion")
print(Foods_1)

['egg', 'bacon', 'chips']
['egg', 'bacon', 'chips', 'beans']
['egg', 'bacon', 'chips', 'beans', 'tomato', 'lettuce', 'onion']
['egg', 'bacon', 'chips', 'beans', 'tomato', 'lettuce']

In [54]:
#keys : values
Rest = {"porto":"pasta",
        "KFC":["chicken","wraps"],
        "Mcdonalds":{"monday":"burgers", "ROW":"chips"}}

print(Rest["KFC"])
print(Rest.values())
print(Rest.keys())
print(Rest.items())

['chicken', 'wraps']
dict_values(['pasta', ['chicken', 'wraps'], {'monday': 'burgers', 'ROW': 'chips'}])
dict_keys(['porto', 'KFC', 'Mcdonalds'])
dict_items([('porto', 'pasta'), ('KFC', ['chicken', 'wraps']), ('Mcdonalds', {'monday': 'burgers', 'ROW': 'chips'})])

In [ ]:


print(Rest)
Rest["chippy"]="sausage" #add chippy to list
print(Rest["KFC"]) # add values 
print("coffee shop" in Rest) # check if in list

{'porto': 'pasta', 'KFC': ['chicken', 'wraps'], 'Mcdonalds': {'monday': 'burgers', 'ROW': 'chips'}, 'chippy': 'sausage'}
['chicken', 'wraps']
False

In [37]:
#pandas - package for python
import pandas as pd #import with alias
filepath =r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"
house_prices = pd.read_csv(filepath)

#IF READING AN EXCEL pd.read_excel()

house_prices
#print(house_prices.info())
#print(house_prices.head())
#print(house_prices.tail())
type(house_prices) # Dataframes or DF
house_prices["Period"]

#datetime objects
#format argument for date time strftimes
#01/01/2025 %d/%m/%Y
#01/01/25 %d/%m/%y
house_prices["period_dt"]=pd.to_datetime(house_prices["Period"],format="%Y-%m")
house_prices.dtypes
# sum, mean, median, min, max
house_prices_monthly_change_sum=house_prices["Percentage change (monthly) All property types"].sum()

In [ ]:
filepath1=r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"
child_data=pd.read_csv (filepath1)

#child_data

print(child_data.info)
#print(child_data.head(10))
#print(child_data.tail(5))
#type(child_data)
#child_data["Period"]
#child_data["PersonBirthDate_dt"]=pd.to_datetime(child_data["PersonBirthDate"],format="%Y-%m-%d")

#child_data.dtypes
#child_data.info

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3940303687.py, line 12)

In [ ]:
house_prices_monthly_change_sum=house_prices["Percentage change (monthly) All property types"].sum()
house_prices

house_prices_monthly_change_sum = house_prices["Percentage change (monthly) All property types"].sum()
print(f"The sum of percentage changes in house prices across all months is {house_prices_monthly_change_sum}")

max_price = house_prices["Average price All property types"].max()
min_price = house_prices["Average price All property types"].min()

print(f"Max price: {max_price}, \nMin price: {min_price}")



less_than_mean = house_prices[condition]median_price = house_prices["Average price All property types"].median()
mean_price = house_prices["Average price All property types"].mean()

print(f"Median price: {median_price}, \nMean price: {mean_price}")

condition = house_prices["Average price All property types"] < mean_price

less_than_mean
# calculate total change in house price over time

The sum of percentage changes in house prices across all months is 623.29
Max price: 292187,
Min price: 19273
Median price: 97964.0,
Mean price: 120570.55831739961

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types,period_dt
0,United Kingdom,1980-01,10.11,19273,3.94,28.59,1980-01-01
1,United Kingdom,1980-02,10.11,19273,3.94,28.59,1980-02-01
2,United Kingdom,1980-03,10.11,19273,3.94,28.59,1980-03-01
3,United Kingdom,1980-04,10.51,20044,4.00,24.15,1980-04-01
4,United Kingdom,1980-05,10.51,20044,4.00,24.15,1980-05-01
...,...,...,...,...,...,...,...
269,United Kingdom,2002-06,59.43,113304,4.09,17.41,2002-06-01
270,United Kingdom,2002-07,59.90,114214,0.80,14.25,2002-07-01
271,United Kingdom,2002-08,61.23,116743,2.21,16.78,2002-08-01
272,United Kingdom,2002-09,62.72,119576,2.43,19.61,2002-09-01
273,United Kingdom,2002-10,63.19,120486,0.76,22.99,2002-10-01

In [45]:
child_data["PersonBirthDate_dt"]
collection_end=pd.to_datetime("31/03/2026",format="%d/%m/%Y")
child_data["age_delta"] = collection_end - child_data["PersonBirthDate_dt"]
child_data["age_delta"]= child_data["age_delta"]/pd.Timedelta(365.25,"d")
child_data["age_delta"]=child_data["age_delta"].astype("int")
child_data["age_delta"]

0       6
1      14
2       8
3      11
4       6
       ..
327    15
328     7
329     4
330    12
331     4
Name: age_delta, Length: 332, dtype: int64

In [48]:
max_age = child_data["age_delta"].max()
min_age = child_data["age_delta"].min()
print(f"Max age: {max_age}, \nMin age: {min_age}")
median_age= child_data["age_delta"].median()
mean_age = child_data["age_delta"].mean()

print(f"Median age: {median_age}, \nMean age: {mean_age}")

condition = child_data["age_delta"] < mean_age

Max age: 21,
Min age: 3
Median age: 12.0,
Mean age: 12.289156626506024